@model WebSiteTemplete.Models.AdminViewModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AdminViewModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MediaTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaTypeAName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaTypeAName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaTypeEName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaTypeEName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParaGrapheName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParaGrapheName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParaGrapheAName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParaGrapheAName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParaGrapheEName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParaGrapheEName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextTypeAName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextTypeAName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextTypeEName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextTypeEName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleAName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleAName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleEName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleEName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
