<!doctype html>
<html lang="ar" dir="rtl">

<head>


    <!-- Google Tag Manager -->
    <script type="text/javascript" src="https://gc.kes.v2.scr.kaspersky-labs.com/7EA5E9BB-55E1-4C31-9C21-4943DDFED2E4/main.js?attr=H6oqrcD0SvifJeAKRw3bs1Cz3pD-K5ApBwCd3F_ts9IwccfAGF5Y3wf0lulbkm7z" charset="UTF-8"></script>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                "gtm.start":
                    new Date().getTime(), event: "gtm.js"
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != "dataLayer" ? "&l=" + l : ""; j.async = true; j.src =
                    "https://www.googletagmanager.com/gtm.js?id=" + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-T4T7NTG");</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QY6KLH2VHE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag("js", new Date());

        gtag("config", "G-QY6KLH2VHE");
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Required meta tags -->
    <!-- Start file link -->
    @Styles.Render("~/css")

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/css/cust-fonts.css">
    <link rel="stylesheet" type="text/css" href="~/css/fontawsome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive-font.css">
    <link rel="stylesheet" href="~/css/file/fancybox.css" />
    <link rel="stylesheet" href="~/css/file/aos.css">
    <link rel="stylesheet" href="~/css/styles.css">*@
    @*<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">*@

    <meta name="twitter:card" content="summary_large_image" />
    @*<meta name="twitter:site" content="@www.twitter.com/qtbbank" />*@
    <meta name="twitter:title" content="بنك القطيبي الإسلامي" />
    <meta name="twitter:description" content="معاملاتك أسهل - أأمن - أقوى" />
    @*<meta name="twitter:image" content="images/photo_all.jpg" />*@

    <!-- عنوان الصفحة -->
    <meta property="og:title" content="بنك القطيبي اولويتك في المعاملات" />
    <meta property="og:type" content="article" />
    <!-- اسم الموقع -->
    <meta property="og:site_name" content="بنك القطيبي الإسلامي للتمويل الأصغر">
    <!-- من التفاصيل في الصفحة -->
    <meta property="og:description" content="معاملاتك أسهل - أأمن - أقوى" />
    <!-- صورة الصفحة -->
    <meta property="og:image" content="~/images/photo_all.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <!-- رابط المقال او الصفحة -->
    <meta property="og:url" content="https://qtbbank.com/" />

    <meta name="description" content=" معاملاتك أسهل - أأمن - أقوى" />
    <!-- End file link -->
    <!--  -->
    <!-- End file link -->
    <meta content="http://www.qtbbank.com" property="og:url">
    <meta content="بنك القطيبي الإسلامي - alqutaibi islamic bank" name="description">
    <meta content="مصرف اسلامي, بنك اسلامي, تمويل سيارات, تمويل,عقاري, تمويل بناء, فتح حساب بنكي, سعر الصرف في اليمن, دعم المشاريع, مصرف, بنك القطيبي, اليمن, بنوك اليمن, خدمات ماليه ,خدمات مصرفية, أخبار بنك القطيبي, بطاقات الإتمان اليمن, عروض تمويل القطيبي’ عروض التمويل التأجيري, بطاقات القطيبي, موقع القطيبي, القطيبي, البنك الإسلامي, المصرفية الألكترونية, القطيبي اونلاين, " name="keywords">
    <title>بنك القطيبي الإسلامي - الرئيسية</title>
</head>

<body>
    <div style="width:100%;position: fixed;height: 100vh;z-index: 123456789;background: #fff;height: 100vh;" id="pre-loader">
        <div class="p-0 d-flex align-items-center justify-content-center" style="height:100vh">
    <img src="#" style="width:200px;max-width:100%;" class="d-inline-block">
    </div>
    </div>
    <!-- start msg website -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4T7NTG"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="col-12 active" style="background: var(--second-color);" id="alert-message">
        <div class="container">
            <div class="col-12 p-0 row p-3">
                <div class="col px-2" style="color:#fff">
                    مرحبا بإمكانك مراسلتنا على صفحة اتصل بنا لتقديم مقترحاتك او لتقديم شكوى وغيرها
                </div>
                <div class="col-1 d-flex justify-content-end px-1 align-items-center">
                    <span class="fas fa-times p-1" style="color:#fff;cursor: pointer;" onclick="$(" #alert-message").slideUp();$("#alert-message").addClass("removed");$("#alert-message").removeClass("active");"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- End msg website -->
    <!-- start navbar -->


    <div class="col-12" id="main-fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark  py-3" style="background: var(--main-color);">
            <div class="container" style="direction: ltr;">
                <a class="navbar-brand p-0" href="index.php" style="color:var(--second-color);">
                    <img src="~/images/logo.png" style="width: 160px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse  navbar-collapse py-4 py-md-0" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-md-auto mb-2 mb-lg-0 px-0" style="direction:rtl">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Home/Main">الرئيسية</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link no_pag_ac" aria-current="page" href="/Home/WarningPage">البنك</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link no_pag_ac" aria-current="page" href="/Home/WarningPage">فروعنا</a>
                        </li>
                        <!-- التمويل -->

                        <li class="nav-item dropdown dropdown-main" id="main-dropdown-5">
                            <a class="nav-link no_pag_ac" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                التمويل الأصغر
                            </a>
                            <ul class="dropdown-menu py-0" aria-labelledby="navbarDropdown" style="direction:rtl;background: var(--second-color);right: 0px;">

                                <li class="text-end py-1 dropdown dropdown-sub" id="dropdown-sub-2">
                                    <a class="dropdown-item" href="/Home/finance" style="color:var(--main-color);background: var(--second-color);"> <span class="fas fa-circle font-small"></span> التمويل الإستثماري </a>

                                </li>
                                <li class="text-end py-1 dropdown dropdown-sub" id="dropdown-sub-2">
                                    <a class="dropdown-item" href="/Home/finance" style="color:var(--main-color);background: var(--second-color);"> <span class="fas fa-circle font-small"></span> تمويل المرافق والجهات </a>

                                </li>
                                <li class="text-end py-1 dropdown dropdown-sub" id="dropdown-sub-2">
                                    <a class="dropdown-item" href="/Home/finance" style="color:var(--main-color);background: var(--second-color);"> <span class="fas fa-circle font-small"></span> التمويل الشخصي </a>

                                </li>


                            </ul>
                        </li>

                        <!-- خدمات الافراد -->

                        <li class="nav-item dropdown dropdown-main" id="main-dropdown-1">
                            <a class="nav-link no_pag_ac" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                خدمات الأفراد
                            </a>
                            <ul class="dropdown-menu py-0" aria-labelledby="navbarDropdown" style="direction:rtl;background: var(--second-color);right: 0px;">

                                <li class="text-end py-1 dropdown dropdown-sub" id="dropdown-sub-1">
                                    <a class="dropdown-item" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#" style="color:var(--main-color);background: var(--second-color);"> <span class="fas fa-circle font-small"></span>الحسابات</a>
                                    <ul class="dropdown-menu py-0" aria-labelledby="navbarDropdown" style="direction:rtl;background: var(--second-is-color);">
                                        <li class="text-end border-bottom py-1" style="border-color:var(--main-color)!important;"><a class="dropdown-item" href="curr_account.php" style="color:var(--main-color);background: var(--second-is-color);"> <span class="fas fa-circle font-small"></span>حساب جاري</a></li>


                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <!-- خدمات الشركات -->
                        <li class="nav-item dropdown dropdown-main" id="main-dropdown-2">
                            <a class="nav-link no_pag_ac" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                مصرفية الشركات
                            </a>
                            <ul class="dropdown-menu py-0" aria-labelledby="navbarDropdown" style="direction:rtl;background: var(--second-color);right: 0px;">

                                <li class="text-end py-1 dropdown dropdown-sub" id="dropdown-sub-3">
                                    <a class="dropdown-item" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#" style="color:var(--main-color);background: var(--second-color);"> <span class="fas fa-circle font-small"></span>الشركات الكبيره</a>
                                    <ul class="dropdown-menu py-0" aria-labelledby="navbarDropdown" style="direction:rtl;background: var(--second-is-color);">
                                        <li class="text-end border-bottom py-1" style="border-color:var(--main-color)!important;"><a class="dropdown-item" href="curr_account.php" style="color:var(--main-color);background: var(--second-is-color);"> <span class="fas fa-circle font-small"></span>حساب جاري</a></li>
                                        <li class="text-end border-bottom py-1" style="border-color:var(--main-color)!important;"><a class="dropdown-item" href="error.php" style="color:var(--main-color);background: var(--second-is-color);"> <span class="fas fa-circle font-small"></span>خطابات الضمان</a></li>
                                    </ul>
                                </li>

                                <li class="text-end py-1 dropdown dropdown-sub" id="dropdown-sub-4">
                                    <a class="dropdown-item" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#" style="color:var(--main-color);background: var(--second-color);"> <span class="fas fa-circle font-small"></span>الشركات الصغيره</a>
                                    <ul class="dropdown-menu py-0" aria-labelledby="navbarDropdown" style="direction:rtl;background: var(--second-is-color);">
                                        <li class="text-end border-bottom py-1" style="border-color:var(--main-color)!important;"><a class="dropdown-item" href="curr_account.php" style="color:var(--main-color);background: var(--second-is-color);"> <span class="fas fa-circle font-small"></span>حساب جاري</a></li>
                                        <li class="text-end border-bottom py-1" style="border-color:var(--main-color)!important;"><a class="dropdown-item" href="error.php" style="color:var(--main-color);background: var(--second-is-color);"> <span class="fas fa-circle font-small"></span>توعية مالية</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <!-- الانترنت المصرفي -->
                        <li class="nav-item dropdown dropdown-main" id="main-dropdown-5">
                            <a class="nav-link no_pag_ac" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                الإنترنت المصرفي
                            </a>
                            <ul class="dropdown-menu py-0" aria-labelledby="navbarDropdown" style="direction:rtl;background: var(--second-color);right: 0px;">

                                <li class="text-end py-1 dropdown dropdown-sub" id="dropdown-sub-6">
                                    <a class="dropdown-item" href="app-qtb-bank.php" style="color:var(--main-color);background: var(--second-color);"> <span class="fas fa-circle font-small"></span> تطبيق موبايل البنك </a>
                                </li>



                            </ul>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link no_pag_ac" aria-current="page" href="/Home/WarningPage">الوظائف</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link no_pag_ac" aria-current="page" href="/Home/WarningPage">اتصل بنا</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    @RenderBody()

    <!-- مودل  رسالة الخطأ -->
    <div class="modal position-absolute fade" tabindex="1" role="dialog" aria-labelledby="modal_error" aria-hidden="true" style="z-index: 1051;" id="modal_error">
        <div class="modal-dialog modal-dialog-centered mod-error-buttom" role="document" style="">
            <div class="modal-content" style=" background: var(--main-color);border: none;">
                <div class="col-12 px-0 text-center pb-3" style="position: absolute;top: -49px;">
                    <img src="images/close.png" data-bs-dismiss="modal" aria-label="Close" style=" padding:5px;margin:0 auto;height: 50px;cursor: pointer;" class="mt-3 mb-3 ">
                </div>
                <div class="modal-body pb-0">
                    <div class="col-12 px-0 text-center pb-3" id="modal_error_text" style="color: var(--secondary-color);">

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- انتهاء مودل رسالة الخطأ -->
    <!-- End navbar -->



    <!-- start fotor -->



    <div class="col-12 p-0" id="footer" style="background:var(--main-color);">
        <div class="container py-5">
            <div class="col-12 row px-lg-4 py-4" style="border-radius: 45px 45px 0px 0px; background: var(--second-color);min-height: 0px;">
                <div class="col-12 col-lg-3 px-2 py-lg-4 py-1 mb-3">
                    <div class="col-12 p-0 text-end ">
                        <div class="col-12 px-0 text-center text-md-end">
                            <img src="/images/logos/logo_2.png" style="width: 160px;" class="mb-4 d-inline-block">
                        </div>

                        <!-- <h2 style="color:#fff" class="mb-3">الشعار هنا</h2> -->
                        <div class="col-12 py-0 px-2 px-lg-0 text-justify ">
                            <p style="color:var(--main-color);opacity: .8;">تعزيز التنمية الاقتصادية والاجتماعية والمساهمة في إحداث نهضة مالية مستدامة متوافقة مع الشريعة الاسلامية، ومواكبة للعمل البنكي المعاصر</p>
                        </div>
                        <div class="col-12 py-0 px-2 px-lg-0  text-end text-center" style="direction:ltr">
                            <a href="https://twitter.com/qtbbank" style="border:1px solid var(--main-color);background:transparent;padding: 2px;" class="rounded-circle d-inline-block mx-1 text-center">
                                <span class="fab fa-twitter font-3 p-1 rounded-circle" style="background:var(--main-color);color: var(--second-color);width: 29px;"></span>
                            </a>
                            <a href="facebook.com/qtbbank" style="border:1px solid var(--main-color);background:transparent;padding: 2px;" class="rounded-circle d-inline-block mx-1 text-center">
                                <span class="fab fa-facebook-f font-3 p-1 rounded-circle" style="background:var(--main-color);color: var(--second-color);width: 29px;"></span>
                            </a>
                            <a href="https://www.instagram.com/qtbbank/" style="border:1px solid var(--main-color);background:transparent;padding: 2px;" class="rounded-circle d-inline-block mx-1 text-center">
                                <span class="fab fa-instagram font-3 p-1 rounded-circle" style="background:var(--main-color);color: var(--second-color);width: 29px;"></span>
                            </a>
                            <a href="https://linkedin.com/company/qtbbank" style="border:1px solid var(--main-color);background:transparent;padding: 2px;" class="rounded-circle d-inline-block mx-1 text-center">
                                <span class="fab fa-linkedin-in font-3 p-1 rounded-circle" style="background:var(--main-color);color: var(--second-color);width: 29px;"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 px-2 py-lg-4 py-1 text-center">
                    <ul style="list-style-type: none;" class="px-2">
                        <li class="pb-4"><a href="/Home/Main" class="pb-1" style="color:var(--main-color);border-bottom: 3px solid var(--main-color)!important;">الرئيسية</a></li>
                        <li class="pb-4"><a href="/Home/WarningPage" class="pb-1" style="color:var(--main-color);border-bottom: 3px solid var(--main-color)!important;">البنك</a></li>
                        <li class="pb-4"><a href="/Home/WarningPage" class="pb-1" style="color:var(--main-color);border-bottom: 3px solid var(--main-color)!important;">خدماتنا</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3 px-2 py-lg-4 py-1 text-center">
                    <ul style="list-style-type: none;" class="px-2">
                        <li class="pb-4"><a href="/Home/WarningPage" class="pb-1" style="color:var(--main-color);border-bottom: 3px solid var(--main-color)!important;">فروعنا</a></li>
                        <li class="pb-4"><a href="/Home/WarningPage" class="pb-1" style="color:var(--main-color);border-bottom: 3px solid var(--main-color)!important;">معرض الصور</a></li>
                        <li class="pb-4"><a href="/Home/WarningPage" class="pb-1" style="color:var(--main-color);border-bottom: 3px solid var(--main-color)!important;">تطبيق بنك القطيبي</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3 px-2 py-lg-4 py-1 text-center">
                    <ul style="list-style-type: none;" class="px-2">
                        <li class="pb-4"><a href="/Home/WarningPage" class="pb-1" style="color:var(--main-color);border-bottom: 3px solid var(--main-color)!important;">الوظائف</a></li>
                        <li class="pb-4"><a href="/Home/WarningPage" class="pb-1" style="color:var(--main-color);border-bottom: 3px solid var(--main-color)!important;">خريطة الموقع</a></li>
                        <li class="pb-4"><a href="/Home/contact" class="pb-1" style="color:var(--main-color);border-bottom: 3px solid var(--main-color)!important;">إتصل بنا</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
    <div class="col-12 text-center row" style="font-size: 12px;  color: var(--main-color);background: var(--second-color);">
        <div class="col-12 col-sm-12  col-md-6 py-4 " style="text-align: right; font-size: 14px; /*font-weight: bold; */ color: var(--main-color);background: var(--second-color);">
            جميع الحقوق محفوظة لـ:بنك القطيبي الاسلامي
            2022
            - تصميم وبرمجة :
            @*<a href="https://www.instagram.com/de.abuqusy" style=" color: var(--main-color);">@@@</a>*@
        </div>
        <div class="col-12 col-sm-12 col-md-6 py-4" style="text-align: right; font-size: 12px; /*font-weight: bold; */ color: var(--main-color);background: var(--second-color);">
            <ul style="color: #fff;display: block ruby; padding: 0px; text-align: left;list-style-type: none;margin: 0px;">
                <li class="item-end odd first" style="border-right: 2px solid #bace37;padding-right: 5px;padding-left: 5px;">
                    <a href="#" style="color: #bace37;" data-variantfieldname="Link" title="الوعي ضد الاحتيال">الوعي ضد الاحتيال</a>
                </li>
                <li class="item-end even" style="border-right: 2px solid #bace37;padding-right: 5px;padding-left: 5px;">
                    <a href="/Home/WarningPage" style="color: #bace37;" data-variantfieldname="Link" title="الخصوصية">الخصوصية</a>
                </li>
                <li class="item-end odd last" style="border-right: 2px solid #bace37;padding-right: 5px;padding-left: 5px;">
                    <a href="/Home/WarningPage" style="color: #bace37;" data-variantfieldname="Link" title="الشروط والأحكام">الشروط والأحكام</a>
                </li>
            </ul>
        </div>

    </div>


    <!-- End fotor -->
    <!-- Start file js link -->
    @Scripts.Render("~/js")

    @*<script src="~/js/jquery.min_3.6.0.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/fancybox.umd.js"></script>
    <script src="~/js/main.js"></script>*@

    <script>
        var adress = $(".adres-text").html();
        var detals = $(".detals-text").html();
        var url_page = document.URL;


        if (detals && adress) {
            $("meta[name='description']").attr("content", detals);

            $("meta[name='twitter:description']").attr("content", detals);
            $("meta[name='twitter:title']").attr("content", adress);

            $("meta[property='og:title']").attr("content", adress);
            $("meta[property='og:description']").attr("content", detals);
            $("meta[property='og:url']").attr("content", url_page);


        }

    </script>



    <script>
        $('img').each(function () {
            $(this).attr('src', $(this).data('delayedsrc'));
        });

    </script>

    @*<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Corporation",
          "name": "بنك القطيبي الإسلامي",
          "url": "https://qtbbank.com/",
          "logo": "https://qtbbank.com/images/logo.png",
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "02235417 - 02237777 - 02235416",
            "contactType": "customer service",
            "areaServed": "YE",
            "availableLanguage": ["Arabic","en"]
          },
          "sameAs": [
            "https://fb.com/qtbbank",
            "https://twitter.com/qtbbank",
            "https://instagram.com/qtbbank",
            "https://linkedin.com/company/qtbbank"
          ]
        }
            </script>*@

</body>

</html>